:root {
    // themes color
    --color-primary: #1ea898;
    --color-secondary: #f9fdff;
    --color-tertiary: #1f2528;
    --color-gray: f9fdff;
    --color-subtitle: #efbc74;

    // background-color
    --background-color-1: linear-gradient(145deg, #1f2528, #23272b);
    --background-color-2: #000c10;

    // box-shadow
    --shadow-1: 10px 10px 19px #000c10, -10px -10px 19px #1f2528;
    --shadow-2: inset 21px 21px 19px #000c10, inset -21px -21px 19px #1f2528;
    --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
        -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;

    --shadow-white-3: 5px 5px 15px #a1a1a1, -5px -5px 15px #f9fdff;

    // Gradient
    --gradient-box-w: linear-gradient(145deg, #a1a1a1, #f9fdff);
    --gradient-red-hover: linear-gradient(145deg, #1ea898, #0a8577);

    // typo Color
    --color-heading: #f9fdff;
    --color-heading-wv: #1e2125;
    --color-body: #f9fdff;
    --color-body-white: #23272b;
    --color-lightn: #f9fdff;

    // Gery Colors
    // --color-midgray: #9F9F9F;
    --color-midgray: #f9fdff;
    --color-light: #e4e6ea;
    --color-lighter: #ced0d4;
    --color-lightest: #f0f2f5;
    --color-border: #e6e6e6;
    --color-white: #f9fdff;
    --color-white-75: rgba(255, 255, 255, 0.75);

    // notify Colors
    --color-success: #3eb75e;
    --color-danger: #ff0003;
    --color-warning: #ff8f3c;
    --color-info: #1ba2db;

    //Social icon colors
    --color-facebook: #3b5997;
    --color-twitter: #1ba1f2;
    --color-youtube: #ed4141;
    --color-linkedin: #0077b5;
    --color-pinterest: #e60022;
    --color-instagram: #c231a1;
    --color-vimeo: #00adef;
    --color-twitch: #6441a3;
    --color-discord: #7289da;

    // Font weight
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;

    // Font weight
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;

    //transition easing
    --transition: 0.4s;

    // Font Family
    --font-primary: "Nunito", sans-serif;
    --font-secondary: "Poiret One", cursive;

    //Fonts Size
    --font-size-b1: 18px;
    --font-size-b2: 24px;
    --font-size-b3: 16px;

    //Line Height
    --line-height-b1: 1.5;
    --line-height-b2: 1.6;
    --line-height-b3: 1.7;

    // Heading Font
    --h1: 64px;
    --h2: 56px;
    --h3: 48px;
    --h4: 40px;
    --h5: 32px;
    --h6: 24px;
}

// Layouts Variation
$smlg-device: "only screen and (max-width: 1199px)";
$extra-device: "only screen and (min-width: 1600px) and (max-width: 1919px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-layout: "only screen and (max-width: 767px)";
$large-mobile: "only screen and (max-width: 575px)";
$small-mobile: "only screen and (max-width: 479px)";
